@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* ------------------------------ */
/* GENERAL & SHARED STYLING */
/* ------------------------------ */
body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    background: url('./assets/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: rgb(80,80,80);
    position: relative;
    min-height: 95vh;
}
#content {
    display: flex;
    padding-bottom: 3rem;
}
.content-box {
    flex: 1;
    margin: 1rem;
}
.content-box:nth-child(2) {
    flex: 0;
}
#title {
    font-family: 'Bebas Neue', Arial, sans-serif;
    font-size: 44px;
    height: calc(2.5rem - 4px);
    width: 12rem;
    margin: 0 0 0 auto;
    padding-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 1px 4px rgba(0,0,0,75%);
    user-select: none;
}
#title:hover {
    cursor: pointer;
}
.folder, .task, .input-wrapper {
    border-radius: 5px;
    margin: 0 0 2px 0;
    display: flex;
    align-items: center;
}
input:focus, textarea:focus {
    outline: none;
}
.name, input {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    height: 2.5rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
}
input[type="text"] {
    border: none;
    background: none;
    color: white;
    padding: 0;
}
input[type="text"]::placeholder {
    color: rgba(255,255,255,75%);
}
.folder:hover, .task:hover {
    cursor: default;
}
.left-hand-icon-container {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.folder > .left-hand-icon-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
}
.check-box, .star, .trash {
    color: rgb(160,160,160);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.check-box:hover, .star:hover, .trash:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,5%);
    color: rgb(80,80,80);
}
.star, .trash {
    margin-right: 4px;
}
#folder-wrapper .plus:hover {
    cursor: pointer;
}
.plus > div {
    position: relative;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
}
.plus > div.expanded {
    transform: rotate(180deg);
    transition: all 300ms ease;
}
.name {
    user-select: none;
}
.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    padding: 12px;
    box-shadow: 0 2px 5px 5px rgba(0,0,0,20%);
    right: -3rem;
    margin-top: -1.5rem;
    opacity: 0%;
}
.fade-in {
    opacity: 100%;
    transition: all 300ms ease;
}
#task-dialog.fade-in {
    opacity: 100%;
    transition: all 300ms ease;
}
.modal > div:nth-child(1) {
    font-weight: 300;
    font-size: 12px;
    user-select: none;
    white-space: pre;
    text-align: center;
    margin: 4px 0 16px;
}
.modal > div:nth-child(2) {
    font-weight: 400;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(80,80,80);
    color: white;
}
.modal > div:nth-child(2):hover {
    background-color: black;
    cursor: pointer;
}


/* ------------------------------ */
/* FOLDER STYLING */
/* ------------------------------ */
#folder-wrapper {
    margin-top: 1.5rem;
    margin-left: auto;
    width: 12rem;
}
#folders {
    position: relative;
}
.folder {
    background-color: rgba(255,255,255,60%);
    backdrop-filter: blur(4px);
    font-weight: 500;
    position: relative;
}
#folder-wrapper > .input-wrapper {
    height: 2.5rem;
    max-width: 2.5rem;
    background-color: none;
    transition: all 300ms ease;
}
#folder-wrapper > .input-wrapper:hover {
    background-color: rgba(0,0,0,25%);
    backdrop-filter: blur(4px);
}
#folder-wrapper > .input-wrapper.expanded {
    max-width: 12rem;
    background-color: rgba(0,0,0,25%);
    backdrop-filter: blur(4px);
}

#folder-wrapper > .input-wrapper > input {
    color: rgba(255,255,255,60%);
    visibility: hidden;
    width: 0;
    padding: 0;
    opacity: 0%;
    transition: all 50ms ease;
}
#folder-wrapper > .input-wrapper > input.expanded {
    visibility: visible;
    opacity: 100%;
    transition: all 300ms ease;
}
.folder > input {
    color: rgba(80,80,80,75%);
}
.folder .trash {
    display: none;
}
.folder.active:hover .trash{
    display: flex;
}
.folder.active {
    background-color: white;
    box-shadow: 0px 1px 2px 2px rgba(0,0,0,10%);
}
#folder-wrapper .plus {
    color: white;
    filter: drop-shadow(0px 1px 1px rgba(0,0,0,50%));
}
/* ------------------------------ */
/* TASK LIST STYLING */
/* ------------------------------ */
#task-wrapper {
    position: relative;
    width: 26.5rem;
}
#task-wrapper > div {
    width: 25rem;
}
#tasks, #completed-tasks {
    position: relative;
    padding: 12px;
    margin: -12px 0px;
    max-height: 26.5rem;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
}
#tasks:empty, #completed-tasks:empty {
    display: none;
}
.task {
    background-color: white;
    position: relative;
    box-shadow: 0px 1px 2px 2px rgba(0,0,0,10%);
}
.task:last-child {
    margin-bottom: 0px;
}
#completed-tasks > .task {
    background-color: rgba(255,255,255,75%);
    backdrop-filter: blur(4px);
    text-decoration: line-through;
}
#task-wrapper > .input-wrapper {
    position: relative;
    margin: 2px auto;
    background-color: rgba(0,0,0,25%);
    box-shadow: 0px 1px 2px 2px rgba(0,0,0,10%);
    backdrop-filter: blur(4px);
}
#task-wrapper > .input-wrapper .plus{
    cursor: pointer;
}
#task-wrapper > .input-wrapper input{
    cursor: text;
}
#menu {
    margin: 0 auto 1.5rem;
    font-size: 11px;
    border-radius: 5px;                 
    background-color: rgba(255,255,255,60%);
    backdrop-filter: blur(4px);
    box-shadow: 0px 1px 2px 2px rgba(0,0,0,10%);
    display: flex;
    justify-content: space-between;
}
#task-wrapper .scroll-shadow {
    visibility: hidden;
    position: absolute;
    margin: 0;
    height: 1rem;
    width: calc(25rem + 4px);
    left: calc(0.75rem - 2px);
    z-index: 2;
}
.scroll-shadow.top {
    background: linear-gradient(180deg, rgba(0,0,0,40%),rgba(0,0,0,0%));
}
.scroll-shadow.bottom {
    background: linear-gradient(0deg, rgba(0,0,0,40%),rgba(0,0,0,0%));
}
.scroll-shadow.tasks.top {
    top: 4rem;
}
.scroll-shadow.tasks.bottom {
    top: 29.5rem;
}
.scroll-shadow.completed-tasks.top {
    bottom: 25.5rem;
}
.scroll-shadow.completed-tasks.bottom {
    bottom: 0rem;
}
.due-date:empty {
    display: none;
}
.due-date {
    font-size: 0.6rem;
    white-space: nowrap;
    width: fit-content;
    margin: 0 1rem;
    user-select: none;
}
.fa-star[data-prefix="fas"] {
    color: rgb(80,80,80);
}
.star:hover .fa-star[data-prefix="fas"] {
    color: black;
}
.task .name {
    white-space: nowrap;
    overflow: hidden;
}
.task.active {
    height: 44px;
    width: 404px;
    left: -2px;
    margin-top: -2px;
    margin-bottom: 0px;
    font-weight: 600;
    box-shadow: 0 2px 5px 5px rgba(0,0,0,20%);
    z-index: 1;
}
.task:last-child.active {
    margin-bottom: -2px;
}
.task.active .check-box, .task.active .star {
    color: rgb(80,80,80);
}
.task.active .check-box:hover, .task.active .star:hover {
    color: black;
}
#task-wrapper .plus {
    color: rgba(255,255,255,75%);
}
.task > input {
    color: rgba(80,80,80,75%);
}
#menu > div {
    display: flex;
    color: rgb(80,80,80);
    flex-grow: 1;
    height: 2.5rem;
    border-radius: 5px;                                                                 
    user-select: none;
    align-items: center;
    justify-content: center;
    transition: all 150ms ease;
}
#menu > div:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,100%);
}
.sort > div {
    white-space: nowrap;
}
.sort > div:nth-child(2) {
    margin: 0 4px 0 2px;
}
#show-completed > div:nth-child(1) {
    margin: 0 2px 0 4px;
}
.caret {
    font-size: 14px;
    position: relative;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    transition: all 100ms ease;
}
.caret svg {
    position: absolute;
    left: 2px;
    min-height: 14px;
    min-width: 14px;
}
.rotated-90 {
    transform: rotate(90deg);
    transition: all 100ms ease;
}
.arrows {
    font-size: 9px;
    position: relative;
    height: 11px;
    width: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrows svg {
    transform: rotate(90deg);
}
.on {
    transform: rotate(180deg);
    transition: all 200ms ease;
}

/* ------------------------------ */
/* TASK DIALOG STYLING */
/* ------------------------------ */
#task-dialog:empty {
    width: 0;
    height: 0;
    padding: 0;
    box-shadow: none;
}
#task-dialog {
    position: relative;
    margin-top: 4rem;
    margin-right: auto;
    border-radius: 5px;
    background-color: rgba(0,0,0,20%);
    width: 15rem;
    height: fit-content;
    box-shadow: 0 2px 5px 5px rgba(0,0,0,20%);
    opacity: 0%;
}
#task-dialog .input-wrapper {
    background-color: white;
}
#task-dialog input[type="text"] {
    margin-left: 0.75rem;
    color: rgb(80,80,80);
}
#task-dialog .star, #task-dialog .trash {
    color: rgb(80,80,80);
}
#task-dialog .star:hover, #task-dialog .trash:hover {
    color: black;
}
#notes-wrapper {
    display: block;
    min-height: 6rem;
}
textarea {
    width: 13.5rem;
    padding: 0.75rem;
    font: inherit;
    color: rgb(80,80,80);
    line-height: 1.25rem;
    background: none;
    border: none;
    border-radius: 5px;
    resize: none;
    min-height: 4.2rem;
    max-height: 19.5rem;
}
textarea::placeholder {
    color: rgb(220,220,220);
}
.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 2.5rem;
    border-radius: 5px;
}
.date-added {
    margin-left: 12px;
    font-weight: 300;
    font-size: 0.65rem;
    color: rgb(80,80,80);
    user-select: none;
}
.date-added:hover {
    cursor: default;
}
#task-dialog.completed > div {
    background-color: rgba(255,255,255,75%);
    backdrop-filter: blue(3px);
}
#task-dialog.completed input[type="text"] {
    text-decoration: line-through;
}
#task-dialog.completed textarea::placeholder {
    color: rgb(180,180,180);
}
#task-dialog.completed > .input-wrapper.date > div:nth-child(1):not(.has-date) {
    color: rgb(180,180,180);
}
/* ------------------------------ */
/* TASK DIALOG DUE DATE STYLING */
/* ------------------------------ */
.input-wrapper.date {
    height: 2.5rem;
    position: relative;
}
.input-wrapper.date > div {
    margin-left: 0.75rem;
    color: rgb(220,220,220);
}
.input-wrapper.date > div.has-date {
    color: rgb(80,80,80);
}
.input-wrapper.date > div.past-due {
    color: red;
}
.input-wrapper.date > div.due-today {
    color: rgb(255,123,0);
}
.input-wrapper.date > div.date-hover.has-date {
    opacity: 54.5%;
}
.input-wrapper.date > div.date-hover:not(.has-date) {
    color: rgb(120,120,120);
}
input[type="date"] {
    position: absolute;
    width: 15rem;
    padding: 0;
    background: none;
    border: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    z-index: 1;
    padding: 12px 11px 11px 211px;
    filter: opacity(68.6%); /* approximately rgb(80,80,80) */
    position: absolute;
    top: 0px;
    right: 1px;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    cursor: pointer;
    filter: opacity(100%);
}
#due-date-hover-background.date-hover {
    position: absolute;
    z-index: 0;
    width: 230px;
    height: 30px;
    right: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,5%);
}
#due-date-hover-background.date-hover.has-date {
    width: 190px;
    right: 45px;
    background-color: rgba(0,0,0,7.3%);
}
input[type="date"].has-date {
    width: 13rem;
}
input[type="date"].has-date::-webkit-calendar-picker-indicator {
    filter: opacity(0%);
}
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
    display: none;
}
#x-date {
    z-index: 2;
    position: relative;
    color: rgb(160,160,160);
    height: 2.5rem;
    width: 2.5rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#x-date > div {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: relative;
}
#x-date > div:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,5%);
}
#x-date > div > div {
    font-family: 'Lato';
    font-weight: 300;
    transform: rotate(45deg);
    font-size: 29px;
    position: absolute;
    top: -2.5px;
    right: 6.5px;
}
/* ------------------------------ */
/* FOOTER STYLING */
/* ------------------------------ */
#footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0rem;
    height: 2rem;
}
#footer > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 1px 4px rgba(0,0,0,100%);
}
#footer svg {
    font-size: 18px;
    margin-left: 8px;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,100%));
}
#footer > a:hover {
    cursor: pointer;
    text-shadow: 0 0px 3px rgba(0,0,0,100%);
}
#footer > a:hover svg {
    filter: drop-shadow(0 0 3px rgba(0,0,0,100%));
}