@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.8rem;
    background: url('./assets/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    color: rgb(80,80,80);
}
#content {
    display: flex;
}
.content-box {
    flex: 1;
    margin: 1rem;
}
#folder-wrapper {
    margin-left: auto;
    width: 12rem;
}
#task-wrapper {
    width: 25rem;
}
#task-dialog:empty {
    width: 0;
    height: 0;
    padding: 0;
}
#task-dialog {
    margin-right: auto;
    border-radius: 5px;
    background-color: rgba(255,255,255,50%);
    padding: 0.5rem;
    width: 15rem;
    height: fit-content;
}
.folder, .task, .input-wrapper {
    border-radius: 5px;
    margin: 3px 0;
    display: flex;
    align-items: center;
}
.folder {
    background-color: rgba(255,255,255,65%);
    font-weight: 500;
}
.task {
    background-color: white;
}
.folder:hover, .task:hover {
    cursor: default;
}
.check-box, .star, .trash {
    color: rgb(160,160,160);
}
.folder-icon, .check-box, .fa-plus {
    margin: 0 auto 0 12px;
}
.star, .trash {
    margin: 0 6px 0 auto;
}
.due-date {
    font-size: 0.6rem;
    white-space: nowrap;
    width: fit-content;
    margin: 0 1rem;
}
.check-box:hover, .trash:hover, .star:hover {
    cursor: pointer;
    color: rgb(80,80,80);
}
.folder > .trash {
    display: none;
}
.folder:hover > .trash{
    display: block;
    color: rgb(120,120,120);
}

.folder:hover > .trash:hover {
    color: rgb(80,80,80);
}
.input-wrapper {
    background-color: rgba(0,0,0,20%);
}
input:focus {
    outline: none;
}
.name, input {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 0.8rem;
    height: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}
input {
    border: none;
    background: none;
    color: white;
}
input::placeholder, .fa-plus {
    color: rgba(255,255,255,60%);
}
#task-dialog .input-wrapper {
    background-color: white;
    color: rgb(80,80,80);


}
#task-dialog input {
    color: rgb(80,80,80);
}
.fa-star[data-prefix="fas"] {
    color: rgb(80,80,80);
}

.task .name {
    white-space: nowrap;
    overflow: hidden;
}
#task-dialog > .input-wrapper > input {
    
}
.folder.active {
    background-color: white;
}
.task.active, .task.active > div > svg {
    color: black !important;
    font-weight: 700;
}
#show-completed {
    color: white;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: rgba(0,0,0,30%);
    border-radius: 5px;
    width: fit-content;
    user-select: none;
}
#show-completed:hover {
    cursor: pointer;
}
.name {
    user-select: none;
}
#folder-edit-field {
    color: rgba(80,80,80,50%);
}
.task, .name, .due-date, .check-box, .star {
    /* border: 1px solid black; */
}
