@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto';
}
.active-folder {
    font-weight: bold;
}
#content {
    display: flex;
    justify-content: center;
}
#folder-wrapper, #task-wrapper {
    margin: 2rem;
}
input:focus {
    outline: none;
}
.folder, .task, input {
    border: 1px solid lightgrey;
    border-radius: 9px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    height: 1.25rem;
    width: 12rem;
    font-size: 0.8rem;
}
.folder:hover, .task:hover {
    cursor: default;
}
.star, .trash {
    margin: 0 6px 0 auto;
    /* border:1px solid red; */
}
.trash:hover, .star:hover {
    cursor: pointer;
}
.trash {
    display: none;
}
.folder:hover > .trash{
    display: block;
}
.fa-trash-alt {
    /* border: 1px solid blue; */
}
.name {
    width: 100%;
    /* border: 1px solid black; */
}

